/*---------- GLOBAL ----------*/
:root{
    --blueColorBotton : hsl(203, 100%, 28%);
    --blueColorBotton-hover: hsl(203, 100%, 18%);
    --redColorBotton: hsl(0, 59%, 41%);
    --redColorBotton-hover: hsl(0, 59%, 31%);
    --yellowColorBotton: hsl(58, 100%, 30%);
    --yellowColorBotton-hover: hsl(58, 100%, 20%);

    /* ligth */
    --backgroundLigth: hsl(31, 100%, 94%);
    --headerLigth: hsl(28, 76%, 84%);

    /* dark */
    --darkBackGround:hsl(0, 0%, 20%);
    --darkCard: hsl(28, 100%, 84%);
    --darkHeader: hsl(0, 20%, 90%);

    /* free */
    --freeBackGround: rgb(236, 240, 255);
    --freeCard: hsl(0, 10%, 29%);
    --freeHeader: hsl(203, 100%, 28%);
    

    
}

section {
    padding: 30px 0px;
}

.card--marging {
    margin-bottom: clamp(20px, 4vw, 40px) !important; 
    margin-bottom: 500px;
}


/*---------- LIGTH THEME ----------*/

.ligth--theme {
    background-color: var(--backgroundLigth);
}

.ligth--theme nav {
    background-color: var(--headerLigth) !important;
}

.ligth--theme button {
    background-color: var(--blueColorBotton);
}

.ligth--theme button:hover {
    background-color: var(--blueColorBotton-hover);
}

/*---------- DARK THEME ----------*/

.dark--theme {
    background-color: var(--darkBackGround)
}

.dark--theme nav {
    background-color: var(--darkHeader) !important;
}

.dark--theme .accesibilidad label{
    color: white  ;
}
.dark--theme .card{
    background-color: var(--darkCard);
}

.dark--theme button{
    background-color: var(--redColorBotton);
    border: 0px;
}

.dark--theme button:hover{
    background-color: var(--redColorBotton-hover);
    border: 0px;
}

/*---------- FREE THEME ----------*/

.free--theme {
    background-color: var(--freeBackGround)
}

.free--theme nav {
    background-color: var(--freeHeader) !important;
}
.free--theme .card{
    background-color: var(--freeCard);
    color: aliceblue ;
}

.free--theme button{
    background-color: var(--yellowColorBotton);
    border: 0px;
}

.free--theme button:hover{
    background-color: var(--yellowColorBotton-hover);
    border: 0px;
}