body{
    background-color: #dddddd;
}
.theme-light .price{
   font-size: 20px;
   font-weight: bolder;
}
.theme-light .name-product{
    font-size: 20px;
    font-weight: bold;
}
.theme-light .description-product{
   font-size: 15px;
   font-weight: lighter;
}

.theme-light .button-buy{
    background-color: #E5002B;
    color: white;
    padding: 7px;
    border:none;
    width: 100%;
    border: 1px solid #E5002B ;
    font-weight: bolder;
 }
 .theme-light .button-buy:hover{
    background-color: white;
    border:1px solid #E5002B;
    color: #E5002B;

 }
 .theme-light footer{
    margin-top: 20px;
    background-color: #E5002B;
    color: white;
    padding: 35px;
 }


  
/* DARK MODE */
.theme-dark {
   background-color: #1C2833;
}

.theme-dark .price{
   font-size: 20px;
   font-weight: bolder;
}
.theme-dark .name-product{
    font-size: 20px;
    font-weight: bold;
}
.theme-dark .description-product{
   font-size: 15px;
   font-weight: lighter;
}

.theme-dark .button-buy{
    background-color: #1C2833 ;
    color: white;
    padding: 7px;
    border:none;
    width: 100%;
    border: 1px solid #1C2833  ;
    font-weight: bolder;
 }
 .theme-dark .button-buy:hover{
    background-color: white;
    border:1px solid #1C2833 ;
    color: #1C2833 ;

 }
 .theme-dark footer{
    margin-top: 20px;
    background-color: #34495E  ;
    color: white;
    padding: 35px;
 }

 .theme-dark .form-select {
   background-color: #34495E;
   color: #fff;
 }
 .theme-dark .card {
   background-color: #34495E;
   color: white;
}
